<section class="footer container">
    <div class="footer__content">
        <div class="footer__left">
            <p class="footer-title">homemade ice cream made</p>
            <p class="footer-subtitle">with passion</p>
        </div>
        <div class="footer__right">
            <div class="footer__list">
                <a href="https://github.com/" class="footer__link">
                    <div class="footer__circle">
                        <svg width="20" height="20">
                            <use href=" ./images/svg/icons.svg#git"></use>
                        </svg>
                    </div>
                </a>
                <a href="https://web.telegram.org/" class="footer__link">
                    <div class="footer__circle">
                        <svg width="20" height="20">
                            <use href="./images/svg/icons.svg#tg"></use>
                        </svg>
                    </div>
                </a>
                <a href="https://www.facebook.com/" class="footer__link">
                    <div class="footer__circle">
                        <svg width="20" height="20">
                            <use href="./images/svg/icons.svg#fb"></use>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="footer__text">
                <p>Feel free to contact <a href="tel:+610383766284" class="footer__tel">+61 (0) 383 766 284</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p>© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</section>