<section class="galary">
  <div class="container galary__container">
    <div class="galary__img">
      <img src="./images/galary_img1_d.jpg" alt="Морозиво">
    </div>
  </div>
  
  <div class="feedback container">
    <div class="feedback__portret"></div>
    <div class="feedback__card">
      <p class="feedback__text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      
    </div>
    <h3 class="feedback__title">Emily, Los Angeles</h3>
  </div>
</section>
