<header class="header">
    <div class="header__container">
        <div class="logo__container">
            <a href="" class="logo">
                <img class="" src="" alt="">
            </a>
        </div>

        <div class="header__wrapper">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Home</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">About us</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">How it’s made?</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Our products</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Contact</a>
                    </li>
                </ul>
        </nav>

        <button class="button button-buy"></button>

        <button class="menu__button" type="button">
            <!-- <svg width="" height="">
                <use class="icon-mobile-open" href=""></use>
            </svg>
            <svg width="" height="">
                <use class="icon-mobile-close" href=""></use>
            </svg> -->
        </button>

        <div class="backdrop is-hidden" >
            <div class="modal">
                <h2 class="modal__title"></h2>
                <button class="modal__button" >
                    <!-- <svg class="modal__icon" width="" height="">
                        <use href=""/>
                    </svg> -->
                </button>
        
                <form class="form">
                    <ul class="form__list">
                        <li class="form__item">
                            <label class="form__label" for="name"></label>
                            <input class="form__input" type="text" id="name" name="name" autofocus />
                            <!-- <svg class="form__icon" width="" height="">
                                <use href="" />
                            </svg> -->
                        </li>
                        <li class="form__item">
                            <label class="form__label" for="tel"></label>
                            <input class="form__input" type="tel" id="tel" name="tel" />
                            <!-- <svg class="form__icon" width="" height="">
                                <use href="" />
                            </svg> -->
                        </li>
                        <li class="form__item">
                            <label class="form__label" for="email"></label>
                            <input class="form__input" type="email" id="email" name="email" />
                            <!-- <svg class="form__icon" width="" height="">
                                <use href="" />
                            </svg> -->
                        </li>
                    </ul>

                    <button class="button form__button" type="submit"></button>
                </form>
            </div>
        </div>
    
    </div>
</header>

