<header class="header">
    <div class="container header__container">
        <div class="header__box" data-menu>
            <div class="first-wrapper" >
                <a href="" class="logo"> 
                    <picture>
                        <source srcset="./images/header/logo-60.png 1x, ./images/header/logo-120.png 2x" media="(min-width:1200px)" />
                        <source srcset="./images/header/logo-48.png 1x, ./images/header/logo-96.png 2x" media="(min-width:768px)" />
                        <source srcset="./images/header/logo-40.png 1x, ./images/header/logo-80.png 2x" media="(min-width:320px)" />
                        <img src="./images/header/logo-40.png" alt="логотип морозиво" max-width="120" class="logo__image" />
                    </picture>
                </a>
                
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Home</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About us</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">How it’s made?</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Our products</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Contact</a>
                        </li>
                    </ul>
                </nav> 
            </div>
            
            <div class="second-wrapper">
                <button class="menu__button" type="button" data-menu-button>
                    <svg width="32" height="32">
                        <use class="icon-mobile-open" href="./images/svg/icons.svg#icon-mobile-open"></use>
                        <use class="icon-mobile-close" href="./images/svg/icons.svg#icon-mobile-close"></use>
                    </svg>
                </button>
                <button class="btn button-buy">Buy now
                    <svg class="icon-button-buy" width="8" height="12">
                        <use href="./images/svg/icons.svg#btn-sign"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="backdrop is-hidden" >
            <div class="modal">
                <h2 class="modal__title"></h2>
                <button class="modal__button" >
                    <!-- <svg class="modal__icon" width="" height="">
                        <use href=""/>
                    </svg> -->
                </button>
        
                <form class="form">
                    <ul class="form__list">
                        <li class="form__item">
                            <label class="form__label" for="name"></label>
                            <input class="form__input" type="text" id="name" name="name" autofocus />
                            <!-- <svg class="form__icon" width="" height="">
                                <use href="" />
                            </svg> -->
                        </li>
                        <li class="form__item">
                            <label class="form__label" for="tel"></label>
                            <input class="form__input" type="tel" id="tel" name="tel" />
                            <!-- <svg class="form__icon" width="" height="">
                                <use href="" />
                            </svg> -->
                        </li>
                        <li class="form__item">
                            <label class="form__label" for="email"></label>
                            <input class="form__input" type="email" id="email" name="email" />
                            <!-- <svg class="form__icon" width="" height="">
                                <use href="" />
                            </svg> -->
                        </li>
                    </ul>

                    <button class="button form__button" type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</header>

