<section class="hero">
    <div class="hero__container">
        <div>
            <h1>ice cream made with passion</h1>
            <button>Products</button>
            <button>How it’s made?</button>
        </div>

        <div>
            <p><span></span></p>
            <p><span></span></p>
        </div>

        <div>
            <p></p>
            <a href="">
                <svg>
                    <use></use>
                </svg>
            </a>
        </div>
        
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>  
</section>