<section class="hero">
    <div class="container hero__container">
        <div class="hero__wrapper">
            <h1 class="hero__title">ice cream made with passion</h1>
            <button class="first-button">Products</button>
            <button class="second-button">How it’s made?</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="">
                <svg class="icon-arrow" width="40">
                    <use href="./images/svg/icons.svg#icon-arrow"></use>
                </svg>
            </a>
        </div>

        <div class="hero__box">
            <p class="hero__text"><span class="text-part">16</span>cafes</p>
            <p class="hero__text"><span class="text-part">23</span>food trucks</p>
        </div>
            
        <picture>
            <source srcset="./images/hero/plate-225.png 1x, ./images/hero/plate-550.png 2x" media="(min-width:1200px)" />
            <source srcset="./images/hero/plate-152.png 1x, ./images/hero/plate-304.png 2x" media="(min-width:768px)" />
            <img src="./images/hero/plate-225.png" alt="plata with ice cream" max-width="225" class="plate-ice-cream" />
        </picture>

        <picture>
            <source srcset="./images/hero/point-1200.png 1x, ./images/hero/point-2400.png 2x" media="(min-width:1200px)" />
            <source srcset="./images/hero/point-767.png 1x, ./images/hero/point-1534.png 2x" media="(min-width:768px)" />
            <source srcset="./images/hero/point-480.png 1x, ./images/hero/point-960.png 2x" media="(min-width:320px)" />
            <img src="./images/hero/point-1200.png" alt="точки" max-width="1200" class="point-image" />
        </picture>

        <picture>
            <source srcset="./images/hero/ice-cream-484.png 1x, ./images/hero/ice-cream-968.png 2x" media="(min-width:1200px)" />
            <source srcset="./images/hero/ice-cream-270.png 1x, ./images/hero/ice-cream-540.png 2x" media="(min-width:768px)" />
            <source srcset="./images/hero/ice-cream-250.png 1x, ./images/hero/ice-cream-500.png 2x" media="(min-width:320px)" />
            <img src="./images/hero/ice-cream-484.png" alt="ice-cream" max-width="484" class="ice-cream" />
        </picture>
    </div>  
</section>