<section class="hero">
    <div class="hero__container">
        <div>
            <h1>ice cream made with passion</h1>
            
            <ul class="cafe">
                <li class="cafe__item"></li>
                <li class="cafe__item"></li>
            </ul>
        </div>

        <div>
            <button>Products</button>
            <button>How it’s made?</button>
        </div>
        <p></p>
        <!-- <svg>
            <use></use>
        </svg> -->
        <!-- <img src="" alt="">
        <img src="" alt="">
        <img src="" alt=""> -->
    </div>  
</section>