.footer{
    background-color: $bg-green;
}

.footer-title{
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $light-title-color;
}

.footer-subtitle{
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $light-title-color;
}