.galary {
  position: relative;
  background-color: #ffffff;
  background-image: url(../images/galary_bg_d.png);
  background-size: cover;
  
}
.galary__container {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    padding-left: 94px;
    padding-right: 94px;
    padding-top: 354px;
    padding-bottom: 207px;
  }
}

.galary__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -98px);
  width: 100%;
  max-width: 440px;
  border-radius: 24px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    max-width: 704px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1014px;
  }
}
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__portret {
  display: inline-flex;
  background-color: $accent-color;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 32px;
}
.feedback__card {
  padding: 39px 74px;
  background-color: $bg-green;
  border-radius: 24px;
  margin-bottom: 32px;
  @include font(16px, 500, 1.86, 0.04em);
  color: $white-text-color;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 968px;
  }
}
.feedback__title {
  @include font(16px, 500, 1.86, normal);
  margin-bottom: 32px;
}
