.hero__container {
    position: relative;
    display: flex;
   
    height: 453px;

    @media screen and (min-width: $tablet) {
        height: 351px;
    }
    
    @media screen and (min-width: $desctop) {
        height: 582px;
    } 
}

.point-image {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ice-cream {
    position: absolute;
    bottom: -53;
    right: 43;
    
    @media screen and (min-width: $tablet) {
        position: absolute;
        bottom: -55;
        right: 25;
    }
    
    @media screen and (min-width: $desctop) {       
    position: absolute;
    bottom: -96;
    right: 0;
    }
}

.plate-ice-cream {
    z-index: 10;
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        position: absolute;
        bottom: 13;
        left: 32;
    }

    @media screen and (min-width: $desctop) {
        position: absolute;
        bottom: 59;
        left: 14;
    }
}

.description {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.description-link {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.hero__box {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.hero__title {
    font-family: 'Seymour One', sans-serif;
    @include font(26px, 400, 1.26, 0.04em);
    text-transform: uppercase;
    color: $white-text-color;
    margin-top: 60px;
}

.title-part {
    @include font(34px, 400, 0.9, normal);
}

.first-button {
    z-index: 100;
}