.section__about {
    @extend .container;
    padding-left: 20px;
    padding-right: 20px;

}

.about-structure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    padding-right: 20px;
    padding-top: 66px;

    @media screen and (min-width: 768px) {
        padding-right: 0;
    }

}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__slogan {

    padding-top: 60px;
    text-align: center;
    @include font(18px, 700, 1.22, normal);
    text-transform: uppercase;
    font-family: Montserrat;
    color: #FCFCFC;

    @media screen and (max-width: 480px) {}

    @media screen and (min-width: 768px) {
        @include font(22px, 800, 1.23, 0.04em);
    }

    @media screen and (min-width: 1200px) {
        @include font(30px, 800, 1.23, 0.04em);

    }

}

.header-box {
    width: 200px;

    @media screen and(min-width: 768px) {
        width: 100%;

    }

}

.section__header {
    margin-top: 12px;
    margin-bottom: 121px;
    text-align: center;
    @include font(30px, 400, 1.25, 0.04em);
    font-family: Seymour One;
    text-transform: uppercase;
    color: #FCFCFC;

    @media screen and (max-width: 767px) {}

    @media screen and (min-width: 768px) {
        @include font(34px, 400, 1.27, 0.06em);
        margin-bottom: 66px;

    }

    @media screen and (min-width: 1200px) {
        @include font(36px, 400, 1.27, 0.06em);

    }

}

.about__decription {
    display: flex;
    flex-direction: column;
   
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;

        padding-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        
        padding-bottom: 32px;
    }

}

.about__box {

   

    @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
        }
    
    @media screen and (min-width: 1200px) {
            width: 1200px;
            display: flex;
            justify-content: flex-start;;
            
    
        }
    
}

.about-cow {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 36px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 108px;

    }
}

.about__image {
    border-radius: 50%;
    box-shadow: 0px -22px 0px 0px rgba(248, 210, 78, 0.7);

    @media screen and (min-width: 768px) {
        box-shadow: 0px -26px 0px 0px rgba(248, 210, 78, 0.7);
    }

    @media screen and (min-width: 1200px) {
        box-shadow: 0px -39px 0px 0px rgba(248, 210, 78, 0.7);

    }

}

.about__list {
    @extend .list;
        

    @media screen and (min-width: 768px) {
        padding-top: 13px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 51px;
        width: 463px;


    }
}

.about__item {
    display: block;
    max-width: 220px;

    &:not(:last-child) {
        margin-bottom: 4px;
    }

    &:nth-child(3) {
        display: none;
    }

    &:nth-child(2) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        width: 334px;
        max-width: none;
        

        &:not(:last-child) {
            margin-bottom: 14px;
        }

        &:nth-child(3) {
            display: block;
            margin-bottom: 40px;
        }

    }

    @media screen and (min-width: 1200px) {
        width: 100%;
        margin-top: 0;
        

    }

}

.about_text {
    color: #FFFFFF;
    @include font(12px, 400, 1.75, 0.04em);

    @media screen and (min-width: 768px) {
        @include font(12px, 400, 1.71, 0.04em);
        color: #FCFCFC;

    }
    @media screen and (min-width: 1200px) {
        @include font(14px, 400, 1.93, 0.04em);
        color: #FCFCFC;

    }

}

// < !-- Advantages -->

.section__advantage {
    @extend .container;
    padding-left: 20px;
    padding-right: 20px;

}

.advantages {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 62px;

    @media screen and (min-width: 768px) {
        padding-right: 0px;
        padding-top: 110px;
    }
    @media screen and (min-width: 1200px) {
        padding-right: 0px;
        padding-top: 90px;
        padding-bottom: 114px;
    }
}

.advatage-box {
    

}

.advantages__list {

    @extend .list;
    display: block;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: left;
    }

    @media screen and (min-width: 1200px) {

        

    }
}

.advantages__item {
    display: block;
    max-width: 230px;

    &:not(:last-child) {
        margin-bottom: 98px;
    }

    @media screen and (min-width: 768px) {
        max-width: none;
        width: 152px;
        &:nth-child(-n+3) {
            margin-bottom: 0;
        }
        
        &:not(:last-child) {
            margin-right: 31px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 288px;
        &:nth-child(2) {
            width: 317px;
        }

        &:not(:last-child) {
            margin-right: 92px;
        }
    }
}

.advantages__title {
    position: relative;
    width: 98px;
    height: 56px;
    vertical-align: top;
    margin-bottom: 4px;
    font-family: Montserrat;
    color: #FCFCFC;
    @include font(36px, 700, 1.17, 0.04em);
    

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F8D24E;
        background-repeat: no-repeat;
        background-image: url(../images/svg/adv-cow.svg);
        background-position: center;
        transform: translateY(-66px);
    }

    @media screen and (min-width: 768px) {
        @include font(48px, 700, 1.23, 0.04em);
        vertical-align: center;
        margin-bottom: 4px;
        // transform: translateY(-87px);

    }

    @media screen and (min-width: 1200px) {
        @include font(58px, 700, 1.22, 0.04em);
        vertical-align: center;
        margin-bottom: 4px;
        // transform: translateY(-95px);

    }
}

.advantages__text {
    @include font(12px, 400, 1.67, normal);
    color: #FCFCFC;

    @media screen and (min-width: 768px) {
        @include font(14px, 400, 1.71, 0.04em);
        color: #FFFFFF;

    }

    @media screen and (min-width: 1200px) {
        @include font(16px, 400, 1.75, 0.04em);
        color: #FCFCFC;

    }
}


// .advantages-image {
//     position: relative;
//     width: 50px;
//     height: 50px;
//     background-color: #fff;

//     &::before {
//         content: "";
//         position: absolute;
//         display: block;
//         width: 50px;
//         height: 50px;
//         border-radius: 50%;
//         background-image: url(../images/cow-icon.png);

//     }
// }

// .advantages__title {

//     font-family: Roboto;
//     @include font(36px, 700, 1.17, 0.04em);
//     color: #FCFCFC;

// }





// .advantages-icon {

//     width: 50px;
//     height: 50px;
// }



